{% extends 'base.html' %}
{% block content %}

<div class="container mt-5">
  <div class="row">
    <div class="col-md-5">
      {% if product.image %}
        <img src="{{ product.image.url }}" class="img-fluid rounded shadow" alt="{{ product.name }}">
      {% endif %}
    </div>
    <div class="col-md-7">
      <h2>{{ product.name }}</h2>
      <p class="text-muted">{{ product.price }} so‘m</p>
      <p>{{ product.description }}</p>
      <button class="btn btn-success">🛒 Savatga qo‘shish</button>
      <a href="{% url 'store:store_home' %}" class="btn btn-outline-secondary ms-2">Orqaga</a>
    </div>
  </div>
</div>

{% endblock %}
